data_process/09_heat_waves_climatological-projections-yearly-rcp_4_5-wrf381p-ipsl_cm5a_mr-r1i1p1-grid-v1.0.nc
data_process/19_duration_of_meteorological_droughts-projections-yearly-rcp_4_5-wrf381p-ipsl_cm5a_mr-r1i1p1-grid-v1.0.nc
data_process/11_frost_days-projections-yearly-rcp_4_5-wrf381p-ipsl_cm5a_mr-r1i1p1-grid-v1.0.nc
data_process/data_processing.ipynb
data_process/wind.csv
data_process/precipitation.csv
